<!DOCTYPE html>
<html>
  <style>
  #bannerimage {
    width: 100%;
    background-image: url({{url_for('static',filename='images/spot_on_banner.png')}});
    height: 223px;
    background-color: white;
    background-position: center;
  }
  </style>

  <div id="bannerimage"></div>

<form method="POST">
  <table cellpadding=2>
    <tr>
      <td width=100%>
        <input  style="width: 100%; height:50px; font-size:25px;" type="text" name="itemname">
      </td>
      <td>
          <input type="image" src="{{url_for('static',filename='images/search_icon.png')}}" style="width: 55px; height:55px">
      </td>
    </tr>
  </table>
</form>

</html>
